<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <provider android:authorities="com.harleytg.dmzranked.migration" />
        <provider android:authorities="com.harleytg.dmzranked.beta.migration" />
    </queries>

    <application>
        <receiver
            android:name="expo.modules.dmzmigration.DmzRankedWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dmz_ranked_widget_info" />
        </receiver>

        <provider
            android:name="expo.modules.dmzmigration.DmzMigrationProvider"
            android:authorities="${applicationId}.migration"
            android:exported="true"
            android:grantUriPermissions="false" />
    </application>
</manifest>
